<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="LocalIPSection" type="LetMePingThatForYou.ConfigHelper, LetMePingThatForYou"/>
    <section name="EmailSection" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <LocalIPSection>
    <LocalIP>
      <add name="IPTest1" addr="127.0.0.1" />
      <add name="IPTest2" addr="192.168.1.1" />
    </LocalIP>
  </LocalIPSection>

  <EmailSection>
    <add key="emailTo" value="alessio.pagliari@gmail.com"/>
    <add key="emailFrom" value="alessio.pagliari@gmail.com"/>
    <add key="passwordMail" value=""/>
    <add key="oggettoMail" value="LetMePingThatForYou: Errore"/>
    <add key="messaggioMail" value="Errore nel ping su [nome] : [ipaddress]"/>
    <add key="smtpHost" value="smtp.gmail.com"/>
    <add key="portNumber" value="587"/>
    <add key="sslEnabled" value="true"/>
  </EmailSection>
  
  <appSettings>
    <add key="LogPath" value="C:\lmptfyLogs\"/>
    <add key="IntervalTimeSecs" value="60"/>
    <add key="FailedPings" value="4"/>
  </appSettings>
 
</configuration>